<form #f="ngForm" (ngSubmit)="submit(f.value)" class="example-form">

  <mat-form-field class="example-full-width">
    <mat-select ngModel name="projectOwner" #projectOwner="ngModel" matInput placeholder="Project Owner">
      <mat-option *ngFor="let projectOwner of projectOwners" [value]="projectOwner">
      {{projectOwner}}
    </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input required ngModel name="projectName" #projectName="ngModel" matInput placeholder="Project Name">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input ngModel name="city" #city="ngModel"  matInput placeholder="City">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input ngModel name="state" #state="ngModel" matInput placeholder="State">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input ngModel name="bidDate" #bidDate="ngModel" matInput [matDatepicker]="bidDate" placeholder="Bid Date">
    <mat-datepicker-toggle matSuffix [for]="bidDate"></mat-datepicker-toggle>
    <mat-datepicker #bidDate></mat-datepicker>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input ngModel name="completionDate" #completionDate="ngModel" matInput [matDatepicker]="completionDate" placeholder="Est. Completion">
    <mat-datepicker-toggle matSuffix [for]="completionDate"></mat-datepicker-toggle>
    <mat-datepicker #completionDate></mat-datepicker>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <span matPrefix>$ &nbsp;</span>
    <input ngModel name="estimate" #estimate="ngModel" matInput placeholder="Estimate" type="number">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-select ngModel name="stage" #stage="ngModel" matInput placeholder="Stage">
      <mat-option *ngFor="let stage of stages" [value]="stage">
        {{stage}}
      </mat-option>
      </mat-select>
  </mat-form-field>

  <div mat-dialog-actions>
      <button mat-button [disabled]="f.invalid">Submit</button>
  </div>

</form>
<div mat-dialog-actions>
    <button mat-button (click)="close()">Cancel</button>
</div>
