<h2>Projects</h2>
<button (click)="addNewProject()">New</button>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!-- Project Owner Column -->
  <ng-container matColumnDef="projectOwner">
    <th mat-header-cell *matHeaderCellDef>
      <div>
        <mat-form-field>
          <mat-select class="form-field" [formControl]="projectOwnerFilter" placeholder="Project Owner">
            <mat-option *ngFor="let projectOwner of projectOwners" [value]="projectOwner">
              {{projectOwner}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </th>
    <td mat-cell *matCellDef="let element"> {{element.projectOwner}} </td>
  </ng-container>

  <!-- Project Name Column -->
  <ng-container matColumnDef="projectName">
    <th mat-header-cell *matHeaderCellDef>
      <div>
        <mat-form-field>
          <input matInput class="form-field" [formControl]="projectNameFilter" placeholder="Project Name">
        </mat-form-field>
      </div>
    </th>
    <td mat-cell *matCellDef="let element"> {{element.projectName}} </td>
  </ng-container>

  <!-- City Column -->
  <ng-container matColumnDef="city">
    <th mat-header-cell *matHeaderCellDef>
      <div>
        <mat-form-field>
          <input matInput class="form-field" [formControl]="cityFilter" placeholder="City">
        </mat-form-field>
      </div>
    </th>
    <td mat-cell *matCellDef="let element"> {{element.city}} </td>
  </ng-container>

  <!-- State Column -->
  <ng-container matColumnDef="state">
    <th mat-header-cell *matHeaderCellDef>
      <div>
        <mat-form-field>
          <input matInput class="form-field" [formControl]="stateFilter" placeholder="State">
        </mat-form-field>
      </div>
    </th>
    <td mat-cell *matCellDef="let element"> {{element.state}} </td>
  </ng-container>

  <!-- Bid Date Column-->
  <ng-container matColumnDef="bidDate">
    <th mat-header-cell *matHeaderCellDef>
      <div>
        <mat-form-field>
          <input matInput class="form-field" [formControl]="bidDateFilter" placeholder="Bid Date">
        </mat-form-field>
      </div>
    </th>
    <td mat-cell *matCellDef="let element"> {{element.bidDate}} </td>
  </ng-container>

  <!-- Completion Date Column-->
  <ng-container matColumnDef="completionDate">
    <th mat-header-cell *matHeaderCellDef>
      <div>
        <mat-form-field>
          <input matInput class="form-field" [formControl]="completionDateFilter" placeholder="Est. Completion">
        </mat-form-field>
      </div>
    </th>
    <td mat-cell *matCellDef="let element"> {{element.completionDate}} </td>
  </ng-container>

  <!-- Estimate Date Column-->
  <ng-container matColumnDef="estimate">
    <th mat-header-cell *matHeaderCellDef>
      <div>
        <mat-form-field>
          <input matInput class="form-field" [formControl]="estimateFilter" placeholder="Estimate">
        </mat-form-field>
      </div>
    </th>
    <td mat-cell *matCellDef="let element"> ${{element.estimate}} </td>
  </ng-container>

  <!-- Stage Column -->
  <ng-container matColumnDef="stage">
    <th mat-header-cell *matHeaderCellDef>
      <div>
        <mat-form-field>
          <mat-select class="form-field" [formControl]="stageFilter" placeholder="Stage">
            <mat-option *ngFor="let stage of stages" [value]="stage">
              {{stage}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </th>
    <td mat-cell *matCellDef="let element"> {{element.stage}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>