/* Structure */
table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 50%;
  }
  
  .mat-column-position {
    max-width: 100px;
  }
  
  .mat-column-name {
    max-width: 100px;
  }

  .example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
  }

  .column-border {
      border-right: 3px solid gray;
  }

  .column-border-header {
    border-bottom: 1px solid gray;
  }

  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  